.App {
  text-align: center;
}

.heroBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  color: white;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  position: relative;
  z-index: 0;
}

.line {
  height: 1px;
  background-color: #FFFFFF;
}
.circle {
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.45);
}


nav {
  text-align: center;
  margin-bottom: 20px; /* Adjust as per your layout */
  position:relative;
  z-index: 10;
  padding-top: 30px;
}

nav a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 20px;
  margin: 0 10px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  transition: color 0.3s, background-color 0.3s, transform 0.3s;
}

nav a:hover {
  color: #000000;
  background-color: #FFFFFF;
  transform: translateY(-2px);
}
.circle.small {
  width: 200px;
  height: 200px;
  top: 20%;
  left: 10%;
  animation: pulseSmall 5s infinite;
}

.circle.medium {
  width: 300px;
  height: 300px;
  top: 30%;
  right: 15%;
  animation: pulseMedium 6s infinite;
}

.circle.large {
  width: 400px;
  height: 400px;
  bottom: 20%;
  left: 25%;
  animation: pulseLarge 9s infinite;
}

@keyframes pulseSmall {
  0%, 100% {
    transform: scale(1);
    border-radius: 50%;
  }
  25% {
    transform: scale(1.1);
    border-radius: 30% 70% 70% 30%/60% 40% 40% 60%;
  }
  50% {
    transform: scale(0.9);
    border-radius: 70% 30% 50% 50%/30% 70% 50% 50%;
  }
  75% {
    transform: scale(1.05);
    border-radius: 40% 60% 60% 40%/50% 50% 70% 30%;
  }
}


@keyframes pulseMedium {
  0%, 100% {
    transform: scale(1);
    border-radius: 50%;
  }
  25% {
    transform: scale(1.1);
    border-radius: 50% 50% 40% 40%/ 40% 40% 60% 60%;
  }
  50% {
    transform: scale(1.2);
    border-radius: 40% 40% 30% 30%/ 30% 30% 70% 70%;
  }
  75% {
    transform: scale(1.15);
    border-radius: 45% 45% 35% 35%/ 35% 35% 65% 65%;
  }
}



@keyframes pulseLarge {
  0%, 100% {
    transform: scale(1);
    border-radius: 50%;
  }
  25% {
    transform: scale(1.2) translate(15px, -15px);
    border-radius: 45% 55% 55% 45%/55% 45% 55% 45%;
  }
  50% {
    transform: scale(0.85) translate(-15px, 15px);
    border-radius: 30% 70% 70% 30%/70% 30% 70% 30%;
  }
  75% {
    transform: scale(1.05) translate(10px, -10px);
    border-radius: 50% 50% 50% 50%/50% 50% 50% 50%;
  }
}


@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.App h1 {
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #FFFFFF;
  margin-bottom: 32px; /* Adjust as per your layout */
}

/* Custom cursor style
.custom-cursor {
  cursor: none;
  
} */

/* Custom cursor dot
.cursor-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  position: fixed;
  pointer-events: visiblePainted;
  z-index: 1000;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 1.0);
} */

/* .cursor-dot::before {
  content: '';
  position: absolute;
  top: -6.7px; /* Adjust to center the boundary */
  /* left: -7.2px; Adjust to center the boundary */
  /* width: 20px; Diameter of the outer circle */
  /* height: 20px; Diameter of the outer circle */
  /* background: transparent; */
  /* border: 1px solid rgba(28, 24, 24, 0.5); Semi-transparent border */
  /* border-radius: 50%; */
  /* pointer-events: none; */
/* } */

/* button, a.navItem, .any-other-interactive-class {
  cursor: none;
} */