.App {
  text-align: center;
  background-color: #121212; /* Very dark grey, almost black */
  color: white;
  font-family: 'Arial', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column; /* Stacks items vertically */
  justify-content: flex-start; /* Aligns content to the top */
  overflow: hidden;
}

.headerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Spreads content to both ends */
  align-items: center;
  padding-top: 20px;
  position: absolute; /* Keeps the header at the top */
  top: 0;
  left: 0;
  z-index: 10;
  flex-wrap: wrap; /* Allow the items to wrap if space is needed */
}

/* New styles for the hi message */
.titleContainer h2 {
  font-size: 2.5rem; /* Adjust the size as needed */
  font-weight: 400; /* Adjust the weight as needed */
  margin: 0;
  padding: 0;
  color: #FFFFFF; /* Adjust the color to match your design */
}

.profileImage {
  border-radius: 5%; /* Adjust if you want a different border radius */
  width: 40vw; /* Responsive width based on viewport width */
  height: 52vw; /* Maintain aspect ratio */
  object-fit: cover; /* Cover the area without stretching */
  order: 2; /* Ensures the image is on the right */
  position: relative; /* Use relative instead of absolute */
  top: unset; /* Reset the top position */
  left: unset; /* Reset the left position */
  transform: unset; /* Reset the transform */
  z-index: 0; /* Image will be under the text */
}


.introContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Aligns items to the left */
  flex-direction: row; /* Align items horizontally */
  gap: 20px; /* Adjust the gap between the text and the image */
  width: 100%; /* Set the width to 100% of the parent */
  padding-top: 0; /* Reset padding top if it's not needed */
  padding-left: 8%;
}

.introText {
  text-align: left; /* Aligns the text to the left */
  max-width: 600px; /* Adjust the max-width as needed */
  order: 1; /* Ensures the text is on the left */
  z-index: 1; /* Ensure the text is above the image */
}

.introText h2 {
  font-size: 4rem; /* Adjust the size as needed */
  margin-bottom: 0.5em;
}

.introText .subtitle {
  font-size: 2rem; /* Adjust the size as needed */
  margin-bottom: 0; /* Remove bottom margin if not needed */
}


.introText .highlight {
  color: #E57373; /* Adjust the color to match your design */
}

/* Ensure that the subtitle is directly below the hi message */
.subtitle {
  font-size: 1.5rem; /* Adjust the size as needed */
  font-weight: 300; /* Adjust the weight as needed */
  color: #FFFFFF; /* Adjust the color to match your design */
  margin-top: 0.5em;
}

.nameAndEmail {
  display: flex;
  gap: 10px;
  margin-left: 20px;
  /* Rest of the styles remain unchanged */
}

.nameAndEmail h1 {
  margin: 0; /* Removes margin from the name */
  font-size: 1.5rem; /* Adjusts font size of the name */
  padding-right: 20px;
}

.nameAndEmail .email {
  margin: 0; /* Removes margin from the email */
  font-size: 1rem; /* Adjusts font size of the email */
  color: #aaa; /* Optional: Changes the email color to differentiate from the name */
  padding-right: 20px;
}

.nameHighlight {
  color: #E57373; /* Adjust the color to match your design */
}

.heroBackground {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
  padding-top: 60px; /* Adjust this value to push content down if needed */
  position: relative; /* Positioning context for the absolute elements */
  overflow: hidden;
}
.titleContainer {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for text */
  padding: 20px;
  border-radius: 10px;
}

h1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 20px;
  font-size: 3rem; /* Increase font size for heading */
}

.navContainer {
  display: flex;
  justify-content: flex-end; /* Aligns navigation to the right */
  padding-left: 20;
  margin-right: 50px;
}

.navbar {
  display: flex;
  gap: 10px;
  margin-right: 30px;
}
.additionalText {
  position: absolute;
  top: 50%;
  right: 5%; /* Adjust as needed */
  transform: translateY(-50%);
  color: white;
  text-align: left;
  max-width: 300px; /* Adjust as needed */
  z-index: 1;
}

.expertise, .location, .description {
  margin: 0.5em 0;
}

.downloadCv {
  background-color: #e57393; /* Adjust as needed */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1em;
}

.downloadCv:hover {
  background-color: #ffa4a2; /* Lighter shade for hover effect */
}


.navItem {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1rem; /* Adjust font size as needed */
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 20px;
  margin: 0 10px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  transition: color 0.3s, background-color 0.3s;
  display: inline-block; /* Added to ensure proper spacing and alignment */
}

.location {
  font-size: 2.0rem;
}

.expertise {
  color:#e57373
}

.navItem:hover {
  color: #000000;
  background-color: #FFFFFF;
}
/* Style adjustments for responsive behavior */
@media (max-width: 768px) {
  .introContainer {
    flex-direction: column;
    gap: 20px;
  }

  .profileImage {
    margin-top: 0; /* Reset the margin-top for mobile */
    width: 150px;
    height: 150px;
    order: 1; /* Image goes on top */
  }

  .introText h2 {
    font-size: 3rem;
  }

  .introText .subtitle {
    font-size: 1.5rem;
  }

  .introText {
    /* Adjustments for mobile view */
    text-align: center;
    order: 2; /* Text goes below */
  }
}

.socialLinks {
  display: flex;
  position: absolute;
  bottom: 20px; /* Position where you like */
  left: 20px; /* Position where you like */
  z-index: 10;
}

.IconButton {
  color: #fff; /* Or any other color */
}

/* Adjust the size of the icons if needed */
.socialLinks .MuiSvgIcon-root {
  font-size: 2rem; /* Adjust icon size here */
}

